@import "/src/styles/init";

.products {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-items: center;

  margin: 0 auto;
  padding: 1rem;
  background-color: #e4e4e4;

  @include respond-above(sm) {
    grid-template-columns: repeat(4, 1fr);
  }
}
