@import "/src/styles/init";

.product-listing-tile {
  padding: 1.2rem;
  width: 240px;
  background-color: white;
  font-family: var(--primary-font);
  font-weight: normal;
  text-align: center;

  .actions {
    display: grid;
    grid-template-rows: 40px 40px;
    margin: 1rem auto;
    font-size: 0.9rem;

    @include respond-above(sm) {
      grid-template-rows: 40px;
      grid-template-columns: 1fr 1fr;
      margin: 1.2rem auto;
    }
  }
}

.primary-btn {
  border: none;
  border-radius: 2px;
  background-color: var(--primary-color);
  color: white;
}

.secondary-btn {
  border: 1px solid var(--border-color);
  border-radius: 2px;
  background-color: white;
  color: #8c8c8c;
}

.border-top {
  border-top: 1px solid var(--border-color);
  padding-top: 1rem;
  @include respond-above(sm) {
    padding-top: 1.2rem;
  }
}
