@import "/src/styles/init"; //TODO

.product-listing-tile {
  padding: 1.2rem;
  text-align: center;
  background-color: white;
  width: 240px;
  font-family: $primary_font;
  font-weight: normal;

  .actions {
    display: grid;
    grid-template-rows: 40px 40px;
    margin: 1rem auto;
    font-size: 0.9rem;
    @include respond-above(sm) {
      grid-template-rows: 40px;
      grid-template-columns: 1fr 1fr;
      margin: 1.2rem auto;
    }
  }
}

button.primary {
  background-color: #009e00; //TODO to global var
  color: white;
  border: none;
  border-radius: 2px;
}

button.secondary {
  background-color: white;
  color: #8c8c8c;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
}

.border-top {
  border-top: 1px solid #e4e4e4;
  padding-top: 1rem;
  @include respond-above(sm) {
    padding-top: 1.2rem;
  }
}
