<div class="modal-header">
  <h5 class="modal-title">Added to your cart.</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body text-center" *ngIf="product">
  <app-product-detail [product]="product"> </app-product-detail>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary btn-sm"
    (click)="activeModal.close('Close click')"
  >
    Continue shopping
  </button>
  <button class="btn btn-outline-secondary btn-sm">Go to my cart</button>
</div>
